@font-face {
font-family: "avenir";
src: url(../font/Avenir\ Book.ttf);
}
*{
    font-family: 'avenir', Arial, sans-serif;
}
body{
    background-color: #EAC435;
}
.navbar{
  background-color: #CA1551;
}
.jumbotron{
  background-color: aliceblue;
}
.skills{
  text-align: center;
  color: aliceblue;
}
